* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(29, 29, 29);;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 300;
}

.players-cont {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.player {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border: 1px solid gray;
    border-radius: 6px;
}

.player:first-child:hover {
    box-shadow: 0 3px 0 0 orange;
}

.player:first-child {
    margin-right: 12px;
}

.player:last-child {
    margin-left: 12px;
}

.player h2 {
    margin-bottom: 12px;
}

.options {
    display: flex;
}

.options p {
    margin-right: 12px;
    padding: 4px 6px;
    border-radius: 4px;
}

.option:hover {
    background-color: orange !important;
    cursor: pointer;
}

.options p:last-child {
    margin-right: 0;
}

@media screen and (max-width: 700px) {
    :root {
        font-size: 16px;
    }

    .players-cont {
        flex-direction: column;
    }

    .player:first-child {
        margin-bottom: 12px;
        margin-right: 0;
    }
    
    .player:last-child {
        margin-top: 12px;
        margin-left: 0;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
    }
}